.mainContainer {
  display: flex;
  flex-direction: grid;
  align-items: grid;
  justify-content: center;
  width: 60vw;
  margin: 120px 280px;
  border-radius: 16px;
  border: 3px solid lightgrey;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.15);
  color: rgb(150, 150, 140);

}
