.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
  margin: 160px 280px;
  border-radius: 16px;
  border: 3px solid lightgrey;
  /*border-image: linear-gradient(to bottom right, grey, white) 1;*/
  backdrop-filter: blur(3px);
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(
    100% - 40px
  ); /* Reduziert die Breite um 40px (20px auf jeder Seite) */
  height: calc(
    100% - 40px
  ); /* Reduziert die Höhe um 40px (20px auf jeder Seite) */
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.15);
  color: rgb(150, 150, 140);
  padding: 20px; /* Hinzugefügt */
}

h1,
h2 {
  color: rgb(250, 250, 240);
}

.blobContainer a {
  padding: 10px;
  color: var(--primary-color); /* Farbe des Links im unberührten Zustand */
  text-decoration: none; /* Entfernt die Standard-Unterstreichung des Links */
  transition: color 0.3s ease; /* Fügt eine sanfte Übergangseffekt für die Farbänderung hinzu */
}
.blobContainer :hover {
  color: cornflowerblue; /* Farbe des Links beim Hovern */
}
