.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
  margin: 160px 280px;
  border-radius: 16px;
  border: 3px solid lightgrey;
  /*border-image: linear-gradient(to bottom right, grey, white) 1;*/
  backdrop-filter: blur(3px);
}

.innerContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: calc(
    100% - 40px
  ); /* Reduziert die Breite um 40px (20px auf jeder Seite) */
  height: calc(
    100% - 40px
  ); /* Reduziert die Höhe um 40px (20px auf jeder Seite) */
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.15);
  color: rgb(150, 150, 140);
  padding: 20px; /* Hinzugefügt */
}

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.headerContainer,
.secondHeaderContainer {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.secondHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.labelContainer,
.infoContainer {
  display: flex;
  justify-content: space-around;
  flex: 1;
  padding: 10px;
  text-align: left;
}

.labelContainer {
  flex-direction: column;
}

.infoContainer {
  flex-direction: column;
}

.headerPositionContainer {
  display: flex;
  flex-direction: column;
}

.ProfileSettingPositionContainer {
  padding: 10px;
}
