.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
  margin: 160px 280px;
  border-radius: 16px;
  border: 3px solid lightgrey;
  /*border-image: linear-gradient(to bottom right, grey, white) 1;*/
  backdrop-filter: blur(3px);
}

.innerContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: calc(
    100% - 40px
  ); /* Reduziert die Breite um 40px (20px auf jeder Seite) */
  height: calc(
    100% - 40px
  ); /* Reduziert die Höhe um 40px (20px auf jeder Seite) */
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.15);
  color: rgb(150, 150, 140);
  padding: 20px; /* Hinzugefügt */
}

/* .ProfileSettingPositionContainer {
  padding: 10px;
} */

.button {
  background-color: #00ff00;
  border-radius: 16px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #008c00;
  color: white;
}

.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
  margin: 160px 280px;
  border-radius: 16px;
  border: 3px solid lightgrey;
  /*border-image: linear-gradient(to bottom right, grey, white) 1;*/
  backdrop-filter: blur(3px);
}

.innerContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: calc(
    100% - 40px
  ); /* Reduziert die Breite um 40px (20px auf jeder Seite) */
  height: calc(
    100% - 40px
  ); /* Reduziert die Höhe um 40px (20px auf jeder Seite) */
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.15);
  color: rgb(150, 150, 140);
  padding: 20px; /* Hinzugefügt */
}

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.headerContainer,
.secondHeaderContainer {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.secondHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.labelContainer,
.infoContainer {
  display: flex;
  justify-content: space-around;
  flex: 1;
  padding: 10px;
  text-align: left;
}

.labelContainer {
  flex-direction: column;
}

.infoContainer {
  flex-direction: column;
}

.headerPositionContainer {
  display: flex;
  flex-direction: column;
}

.ProfileSettingPositionContainer a {
  padding: 10px;
  color: #00ff00; /* Farbe des Links im unberührten Zustand */
  text-decoration: none; /* Entfernt die Standard-Unterstreichung des Links */
  transition: color 0.3s ease; /* Fügt eine sanfte Übergangseffekt für die Farbänderung hinzu */
}
.ProfileSettingPositionContainer :hover {
  color: cornflowerblue; /* Farbe des Links beim Hovern */
}
