.mainContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
     margin-top: 120px; 



}
 .unterContainer {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;

  }
    
  
  
  p {
    color: rgb(250, 250, 240);
  }
  .profileImage {
    width: 200px;
    border-radius: 50%;
  }