.mainContainer {
  display: flex;
  margin-top: 116px;
  justify-content: space-evenly;
}

.mediaplayer {
  background-color: white;
  overflow: hidden;
  height: 250px;
  width: 250px;
  border-radius: 18px;
  border: white solid 3px;
}
