.mainContainer {
  flex-direction: column;
  height: 100%;
  width: max-content;
  display: flex;
  align-items: center;
}

.logImg {
  width: 60px;
  border-radius: 16px;
  margin-left: 0px;
  /* margin-bottom: 8px; */
}
@media screen and (min-width: 320px) {
}

.appName {
  color: white;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  margin-left: 15px;
  margin-top: 2px;
}
