.outerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    margin: 160px 280px;
    border-radius: 16px;
    border: 3px solid lightgrey;
    /*border-image: linear-gradient(to bottom right, grey, white) 1;*/
    backdrop-filter: blur(3px);
  }
  
  .innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.15);
    color: rgb(150, 150, 140);
  }
  .button {
    display: flex;
    flex-direction: row;
  }
  .input {
    border-radius: 6px;
  
  }