.mainContainer {
  color: rgb(250, 250, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: auto;
  border-radius: 10px;
  border: 3px solid lightgrey;
  backdrop-filter: blur(3px);
  margin-bottom: 4px;
}
.selected {
  border: 3px solid var(--primary-color);
}
.iconContainer {
  background-image: url("../../../mediathek/images/template-2.jpg");
  background-size: cover;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid;
  height: 147px;
  width: 147px;
  border-radius: 16px;
  margin-top: 4px;
  border-color: white;
  &:hover {
    border-color: var(--primary-color);
  }
}

.icon {
  color: white;
}

.spacer {
  flex: 1;
  display: none;
}
