.mainContainer {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #00fd00;
  height: 85vh;
  width: 161px;
  top: 8px;
  margin-top: 8px;
  margin-bottom: 4px;
}

.iconContainer {
  background-image: url("../../../images/template-2.jpg");
  background-size: cover;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid;
  height: 147px;
  width: 147px;
  border-radius: 16px;
  margin-top: 4px;
  border-color: white;
  &:hover {
    border-color: var(--primary-color);
  }
}

.iconContainerNews {
  background-image: url("../../../images/news-blog-square.jpg");
  background-size: cover;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid;
  width: 147px;
  height: 147px;
  border-radius: 16px;
  margin-top: 4px;
  border-color: white;
  &:hover {
    border-color: var(--primary-color);
  }
}

.icon {
  color: white;
}

.spacer {
  flex: 1;
  display: none;
}
/* @media screen and (min-width: 320px) {
  .mainContainer {
    height: 52px;
    flex-direction: row;
  }
  .spacer {
    display: block;
  }
} */
