.mainContainer {
  width: 99vw;
  min-height: 100px;
  /* background-color: --background-color; */
  margin-left: 2px;
    background-image: url("../../../images/Matrix.gif"); 
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .spacer {
    flex: 1;
    display: none;
  }